body {
    background: radial-gradient(#e5e5e5, #fff, #e5e5e5);
}

.container-fluid.row {
    padding-top: 6rem;
}

.top-buffer { 
    margin-top:2rem; 
}

.card {
    width: 20rem;
    border: 0.5rem #F11C27 solid;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253)!important ;
}

.card-rating-text {
    font-size: 0.8rem;
    font-weight: bold;
}

.card-rating-focused {
    color: red;
    font-weight: bold;
    transform: scale(1);
    transition: transform 0.5s ease;
    background: #FBCA4D;
    width: 10px;
    height: 20px;
}

.card-rating-focused:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.card-rating-normal {
    color: black;
    font-weight: normal;
    background: #FBCA4D;
    width: 10px;
    height: 20px;
}

.card-rating-computer-selected {
    color: green;
    font-weight: bold;
    background: white;
    width: 10px;
    height: 20px;
}

.card-rating-computer-selected-rating {
    color: green;
    font-weight: bold;
    background: #FBCA4D;
    transform: scale(1.5);
    width: 10px;
    height: 20px;
}

.overflow {
    overflow: hidden;
}

.card-body-row-style {
    border: solid #FBCA4D
}
.card-body {
    height: 8rem;
    padding-top: 2.2rem!important;
    padding-left: 0rem!important;;
    padding-right: 0rem!important;;
}

.card-title {
    color: red;
    background: #FBCA4D;
}